@import 'nib'
global-reset()
@import 'imports/*'
@import 'imports/**/*'

@lost gutter 2em
@lost flexbox flex

html
	font-size: 16px
	+below(1100px)
		font-size: 14px
	+below(800px)
		font-size: 12px
body
	// lost-utility: edit
	// grid-guide(12, $gutter/2, $grid-width, 1rem)


section.bg
	z-index: -100
	position: fixed
	top: 0
	width: 100%
	height: auto
	+below(1100px)
		top: 5.5rem
section.full, article.full
	width: 100%
	background-color: white
	clearfix()

body.video-bg
	section#main-menu-container
		margin-top: 56.15vw
		+below(1100px)
			margin-top: 64vw

.inner-section
	lost-center: $grid-width 1rem flex
	clearfix()
	+below(1100px)
		padding: 0 1rem
	&.home-about
		margin-top: 8rem
		+below(1100px)
			margin-top: 6rem
	&.home-cards
		margin-top: 8rem
	&.home-events
		margin-top: 16rem
		+below(1100px)
			margin-top: 6rem
	&.main-events
		margin-top: 8rem
		+below(1100px)
			margin-top: 12rem
	&.timeline
		margin-top: 8rem
		+below(1100px)
			margin-top: 12rem
	&.partners
		margin-top: 8rem
		+below(1100px)
			margin-top: 12rem
	&.article
		margin-top: 8rem
		margin-bottom: 8rem
		+below(1100px)
			margin-top: 12rem
	.section-title
		lost-column: 2/3 0 $gutter flex
		display: block
		+below(1100px)
			text-align: center


// VIDEO LAYER
#big-logo
	display: none
	position: absolute
	top: 10rem
	text-align: center
	z-index: 10
	color: white
	+below(1100px)
		display: none
	&:before
		content: 'f'
		icon()
		display: block
		font-size: 14rem
	&:after
		content: 'g'
		icon()
		display: block
		font-size: 9rem
		margin-top: 75%




// HOME CARDS
.card
	lost-column: 1/3 3 $gutter flex
	display: flex
	flex-direction: column
	justify-content: space-between
	padding: 0.8rem 1.25rem 1.25rem 1.25rem
	color: $oj-violet
	background-color: $oj-pink
	+below(600px)
		lost-column: 8/12 1 $gutter flex
		lost-offset: -2/12 row flex
		margin-bottom: $gutter
		text-align: center

	.card-title
		padding-bottom: .5rem
		margin-bottom: 1rem
	.card-content
		font-family: P
		font-weight: 700
		font-size: 2.5rem
		margin-bottom: 2rem
		height: 5rem
	.card-caption
		font-size: 1.2rem
		line-height 1.5em
		letter-spacing 0.04em
		margin-bottom: 1rem



// MINI CALENDAR
.calendar-info-col
	lost-column: 2/3 2 $gutter flex
	p
		lost-column: 3/4 0 $gutter flex
	+below(1100px)
		lost-column: 1/1 0 $gutter flex
		p
			lost-column: 8/12 1 $gutter flex
			lost-offset: -2/12 row flex
			text-align: center
			font-size: 1.8rem
	+below(600px)
		p
			lost-column: 1/1 0 $gutter flex
			lost-offset: 0 row flex
.extra-col
	lost-column: 1/3 2 $gutter flex
	+below(1100px)
		display: block
		margin: 0
		width: 100%
	.calendar-illustration
		+above(1100px)
			lost-column: 2/3 0 $gutter flex
			lost-offset: -1/4 row $gutter
			img
				width: 100%
				transform: translateY(6rem)
		+below(1100px)
			width: 12rem
			margin: 0 auto

.calendar-col
	lost-column: 3/4 0 $gutter flex
	margin-bottom: 10rem
	+below(1100px)
		lost-column: 3/4 0 $gutter flex
		lost-offset: -1/8 row flex
		text-align: center
	+below(800px)
		lost-column: 1/1 0 $gutter flex
		lost-offset: 0 row flex



// HISTORY TIMELINE
.timeline-intro
	lost-column: 3/4 0 $gutter
	margin-bottom: 8rem
	+below(1100px)
		lost-column: 8/12 0 $gutter flex
		lost-offset: -1/12 row flex
	+below(600px)
		lost-column: 1/1 0 $gutter flex
		lost-offset: 0 row flex
	.section-title
		+below(1100px)
			text-align: left
	p
		+below(1100px)
			font-size: 1.8rem
#timeline
	.timeline-event
		display: flex
		lost-column: 8/12 0 $gutter flex
		+below(1100px)
			lost-column: 1/1 0 $gutter flex
		.timeline-event-date
			lost-column: 2/8 2 $gutter
			position: relative
			padding-right: $gutter
			border-right: .5rem solid $oj-green
			text-align: right
			color: $oj-violet
			@extend .card-title
			font-size: 1.2rem
			+below(1100px)
				lost-column: 3/12 2 $gutter flex
			+below(600px)
				lost-column: 4/12 2 $gutter flex
			&:after
				content: ''
				display: block
				position: absolute
				top: -.25rem
				right: -1rem
				z-index: 2
				size: 1rem
				border: .25rem solid $oj-violet
				border-radius: 50%
				background-color: white
				box-shadow: 0 2px 5px rgba($oj-violet, .5)
		.timeline-event-content
			lost-column: 6/8 2 $gutter
			margin-bottom: 3rem
			position: relative
			+below(1100px)
				lost-column: 7/12 2 $gutter flex
				lost-offset: 1/12 row flex
			+below(1100px)
				lost-column: 8/12 2 $gutter flex
				lost-offset: 0 row flex
			h4
				@extend .card-title
				display: block
				width: 100%
				font-size: 1.2rem
				margin-bottom: .5rem
			p
				font-size: 1.2rem
				letter-spacing: 0
				line-height: 1.5em
			.event-image
				display: block
				width: 100%
				margin: .5rem 1rem 1rem 0



// PARTNERS
.partners-intro
	lost-column: 3/4 0 $gutter
	margin-bottom: 8rem
	+below(1100px)
		lost-column: 1/1 0 $gutter flex
		p
			lost-column: 8/12 1 $gutter flex
			lost-offset: -2/12 row flex
			text-align: center
			font-size: 1.8rem
	+below(600px)
		p
			lost-column: 1/1 0 $gutter flex
			lost-offset: 0 row flex

.partners-list
	lost-center: 100% 0 flex
	.partner
		lost-column: 1/3 3 $gutter
		margin-bottom: 6rem
		+below(600px)
			lost-column: 1/2 2 $gutter flex
			text-align: center
		.partner-image
			display: flex
			width: 100%
			max-width: 14rem
			height: 10rem
			margin-bottom: 2rem
			+below(600px)
				text-align: center
				justify-content: center
				margin: 0 auto 2rem auto
			img
				max-width: 100%
				max-height: 10rem
		.partner-name
			display: block
			font-family: $P
			color: $oj-violet
			font-size: 1.3rem
			font-weight: 700
			letter-spacing: 0.05em
			padding: .5rem 0
			border-bottom: 1px solid $oj-violet
		.partner-caption
			font-size: 1.2rem
			line-height 1.5em
			letter-spacing 0.04em
			margin-bottom: 1rem




// FOOTER
footer#page-footer
	width: 100%
	clearfix()
	display: block
	padding: 6.5rem 0 0 0
	background-image: url('/assets/images/jazdow-pw.png')
	background-position: right bottom
	background-repeat: no-repeat
	background-color: $oj-light
	+below(800px)
		padding: 2.5rem 0 0 0
	.inner-section.page-footer
		display: flex
	.contacts
		lost-column: 3/4 2 $gutter flex
		margin-bottom: 8rem
		padding-bottom: 2rem
		background-color: rgba($oj-light, .7)
		+below(800px)
			lost-column: 1/1 1 $gutter flex
			margin-bottom: 3rem
			padding: 3rem 0
		.contact
			display: block
			float: left
			margin-right: $gutter
			.contact-title
				@extend .card-title
			.contact-details
				p
					font-size: 1.2rem
					line-height 1.5em
					letter-spacing 0.04em
					margin-bottom: 1rem
	.social
		lost-column: 1/4 2 $gutter flex
		+below(800px)
			lost-column: 1/1 1 $gutter flex
			margin-bottom: 6rem
			text-align: center
		.social-icon
			icon()
			display: block
			size: 2rem
			float: right
			color: $oj-violet
			font-size: 2rem
			text-align: right
			margin-left: $gutter
			&#facebook:after
				content: 'a'
			&#google:after
				content: 'b'
			&#instagram:after
				content: 'd'
			+below(800px)
				float: none
				margin-left: 0
				margin-right: $gutter
				display: inline-block




// POLYMER ELEMENTS

oj-menu.trapped.top
	background-color: rgba(white, .95)
	box-shadow: 0 1px 5px rgba(black, .15)

oj-expander
	lost-column: 2/3 0 $gutter flex
	+below(1100px)
		lost-offset: -2/12 row $gutter
		text-align: center
		p
			font-size: 1.8rem
	+below(600px)
		display: block
		width: 100%
		lost-offset: 0 row $gutter

oj-calendar
	width: 100%
	margin: 4rem 0
	text-align: left
	+below(1100px)
		margin: 1rem 0 2rem 0
