@import 'nib'
global-reset()
@import 'imports/*'
@import 'imports/**/*'

@lost gutter 2em
@lost flexbox flex
@lost cycle none

html
	font-size: 16px
body
	// lost-utility: edit
*
	box-sizing: border-box
