doctype
html(lang=lang)

	head
		include _parts/head

	body.video-bg

		.trap-top
		
		include _parts/video

		include _parts/main-menu

		include _parts/about
		
		include _parts/cards
		
		include _parts/mini-calendar

		include _parts/footer
