link(rel="import" href="../lib/bower_components/polymer/polymer.html")
link(rel="import" href="../lib/bower_components/marked-element/marked-element.html")

dom-module#oj-layout-article
	template
		style
			:stylus
				@import '../_lib/css/elements.imports.styl'
				:host
					display: block
					margin-top: 8rem
					margin-bottom: 8rem
					lost-center: $grid-width 1rem flex
					clearfix()
					+below(1100px)
						padding: 0 1rem
						margin-top: 12rem
				.inner-section
					lost-center: $grid-width $gutter/2 flex


		.inner-section
			.article-content
				h1.section-title [[title]]
				marked-element(markdown="[[content]]")
					.markdown-html


	// ---------------------------------------------------------------
	script
		:coffee-script
			Polymer
				is: 'oj-layout-article'

				ready: ->
					return
				attached: ->
					return
				detached: ->
					return
