link(rel="import" href="../lib/bower_components/polymer/polymer.html")

dom-module#oj-menu
	// ---------------------------------------------------------------
	style
		:stylus
			@import '../_lib/css/elements.imports.styl'
			:host
				display: block
				position: relative
				width: 100%
				z-index: 9
				padding: .75rem 2rem 0 2rem
				margin: 0 auto
				background-color: white
				clearfix()
				+below(1100px)
					padding: .75rem 1rem
					position: fixed
					top: 0
					width: 100%
					background-color: rgba(white, .95)
					box-shadow: 0 1px 5px rgba(black, .2)
					&[open]
						padding-bottom: 0
						a#icon
							background-color: $oj-violet
							color: white
						#items
							display: block
				#logo
					display: block
					float: left
					size: 4rem
					&:after
						icon()
						content: 'f'
						display: block
						color: $oj-violet
						font-size: 4rem
						line-height: 1em
				#items
					display: block
					float: right
					margin: 0
					font-family: P
					font-weight: 700
					list-style-type: none
					text-transform: uppercase
					text-align: right
					letter-spacing: .125em
					font-size: 1rem
					+below(1100px)
						width: 100%
						margin-top: 2rem
						display: none
				a#icon
					display: none
					float: right
					color: $oj-violet
					text-transform: uppercase
					font-size: 1rem
					padding: .5em 1em
					border: 1px solid $oj-violet
					border-radius: 3px
					cursor: pointer
					&:hover
						background-color: $oj-violet
						color: white
					+below(1100px)
						display: block
						margin-top: .25rem
					
	// ---------------------------------------------------------------
	template
		a#logo(href='[[logo.href]]' title='[[logo.title]])')
		a#icon(on-tap="toggleMenu") menu
		#items
			content

	// ---------------------------------------------------------------
	script
		:coffee-script
			Polymer
				is: 'oj-menu'
				properties:
					logo:
						type: Object
						value: ->
							src: 'logo.svg'
							href: '/'
							title: 'Home page'
					open:
						type: Boolean
						value: false
						reflectToAttribute: true
						
				toggleMenu: ->
					this.open = not this.open
					return

				ready: ->
					this._checkDeps()
					return

				attached: ->
					return

				detached: ->
					return


				_checkDeps: ->
					deps = ['Velocity']
					thisis = this.is
					for dep in deps
						do (dep)->
							if typeof window[dep] is 'undefined'
								console.error thisis + ' polymer element needs ' + dep
