link(rel="import" href="../lib/bower_components/polymer/polymer.html")

dom-module#oj-menu
	// ---------------------------------------------------------------
	style
		:stylus
			@import '../_lib/css/elements.imports.styl'
			:host
				display: block
				position: absolute
				width: 100%
				z-index: 999
				padding: .75rem 2rem
				margin: 0 auto
				background-color: white
				clearfix()
				+below(1100px)
					padding: .75rem 1rem
					position: fixed
					top: 0
					width: 100%
					background-color: rgba(white, .95)
					box-shadow: 0 1px 5px rgba(black, .2)
					&[open]
						padding-bottom: 0
						a#icon
							background-color: $oj-violet
							color: white
						#items
							display: block
				&.trap
					position: fixed
					top 0
					box-shadow: 0 1px 5px rgba(black, .15)
				#logo
					display: block
					float: left
					size: 4rem
					&:after
						icon()
						content: 'f'
						display: block
						color: $oj-violet
						font-size: 4rem
						line-height: 1em
				a#icon
					display: none
					float: right
					color: $oj-violet
					text-transform: uppercase
					font-size: 1rem
					padding: .5em 1em
					border: 1px solid $oj-violet
					border-radius: 3px
					cursor: pointer
					&:hover
						background-color: $oj-violet
						color: white
					+below(1100px)
						display: block
						margin-top: .25rem
				#items
					display: block
					float: right
					margin: 0
					font-family: P
					font-weight: 700
					list-style-type: none
					text-transform: uppercase
					text-align: right
					letter-spacing: .125em
					font-size: 1rem
					+below(1100px)
						width: 100%
						margin-top: 2rem
						display: none
					a
						display: block
						line-height: 1em
						padding: 1.5rem 0 1.75rem 0
						cursor: pointer
						color: inherit
						float: left
						margin-left: 3rem
						&:hover
							color: $oj-violet
						&[selected]
							border-bottom: 4px solid $oj-dark
							&:hover
								border-color: $oj-violet
						// Tablets:
						+below(1100px)
							float: none
							margin-left: 0
							border-bottom: 1px solid $oj-grey
							&:first-of-type
								border-top: 1px solid $oj-grey
							&[selected]
								border-bottom: 1px solid $oj-grey
								color: $oj-violet
					
	// ---------------------------------------------------------------
	template
		a#logo(href='[[logo.href]]' title='[[logo.title]])' on-tap='_toggleMenu' force='close')
		a#icon(on-tap='toggleMenu') menu
		#items
			template(is='dom-repeat' items='[[items]]')
				a(href='[[item.href]]' title='[[item.title]]' on-tap='_toggleMenu') [[item.title]]
	// ---------------------------------------------------------------
	script
		:coffee-script
			Polymer
				is: 'oj-menu'
				properties:
					items:
						type: Array
					logo:
						type: Object
						value: ->
							src: 'logo.svg'
							href: '/'
							title: 'Home page'
					open:
						type: Boolean
						value: false
						reflectToAttribute: true
						
				_toggleMenu: (e)->
					force = e.target.getAttribute('force')
					switch force
						when 'open' then this.open = true
						when 'close' then this.open = false
						else this.open = !this.open
					return

				_trap: ()->
					pastTop = window.scrollY > this.parentElement.offsetTop
					this.toggleClass 'trap', pastTop
					
				ready: ->
					window.addEventListener 'scroll', ((e)->
						this._trap()
					).bind this
					return

				attached: ->
					return

				detached: ->
					return
