link(rel="import" href="../lib/bower_components/polymer/polymer.html")

dom-module#oj-slider
	template
		style
			:stylus
				@import '../_lib/css/elements.imports.styl'
				:host
					display: block

	// ---------------------------------------------------------------
	script
		:coffee-script
			Polymer
				is: 'oj-slider'

				ready: ->
					return
				attached: ->
					return
				detached: ->
					return
