section#main-menu-container.full
	oj-menu#main-menu(logo=JSON.stringify(data.home_logo))
		if lang === "pl"
			each item in data.main_menu.pl
				oj-menu-item(href=item.href title=item.title)= item.title
		if lang === "en"
			each item in data.main_menu.en
				oj-menu-item(href=item.href title=item.title)= item.title
