.card-title
	font-size: 1rem
	line-height: 1.2em
	font-weight: 700
	font-family: P
	letter-spacing: 0.08em
	text-transform: uppercase

.oj-button-a
	display: block
	width: 24rem
	font-family: $P
	font-weight: 700
	color: $oj-violet
	font-size: 1rem
	text-align: center
	letter-spacing: .1em
	min-width: 7.5rem
	border: 1px solid $oj-violet
	box-shadow: 0 2px 4px 0 $oj-green
	padding: 1.25rem 1rem

// This is a weird one but it somehow prevents top menu from flickering when scrolling
.trap-top
	position: fixed
