.button-a
	display: inline-block
	padding: .4em 1em
	min-width: 12rem
	box-shadow: 0 1px 2px 1px $re-green
	border: solid 1px $re-blue
	background-color: white
	color: $re-blue
	text-align: center
	text-transform: uppercase
	letter-spacing: .2em
	font-size: .8em
	cursor: pointer
	transition: all .1s ease
	&:hover
		background-color: $re-green
