link(rel="import" href="../bower_components/polymer/polymer.html")
link(rel="import" href="oj-styles.html")

dom-module#oj-menu-item
	// ---------------------------------------------------------------
	style
		:stylus
			@import '../css/imports/*'
			@import '../../.factory/node_modules/nib/lib/nib/*'
			@import '../../.factory/node_modules/rupture/rupture/index.styl'
			:host
				display: block
				line-height: 1em
				padding: 1.5rem 0 1.75rem 0
				cursor: pointer
				color: inherit
				float: left
				margin-left: 3rem
				&:hover
					color: $oj-violet
				&[selected]
					border-bottom: 4px solid $oj-dark
					&:hover
						border-color: $oj-violet
				// Tablets:
				+below(1100px)
					float: none
					margin-left: 0
					border-bottom: 1px solid $oj-grey
					&:first-of-type
						border-top: 1px solid $oj-grey
					&[selected]
						border-bottom: 1px solid $oj-grey
						color: $oj-violet
				a
					color: inherit

	// ---------------------------------------------------------------
	template
		a(href='[[href]]' title='[[title]]') [[title]]


	// ---------------------------------------------------------------
	script
		:coffeescript
			Polymer
				is: 'oj-menu-item'
				properties:
					href: String
					title: String
					selected:
						type: Boolean
						reflectToAttribute: true
						computed: '_computeSelected(href)'
					
				_computeSelected: (href)->
					if href is window.location.pathname then return true else return false

				ready: ->
					this._checkDeps()
					return

				attached: ->
					return

				detached: ->
					return


				_checkDeps: ->
					deps = []
					thisis = this.is
					for dep in deps
						do (dep)->
							if typeof window[dep] is 'undefined'
								console.error thisis + ' polymer element needs ' + dep
